extends layout

block content
    h2.h2.text-center.mt-3= article.title
    ul.list-group.text-center
        li.list-group-item.list-group-item-success written by #{article.author}
        li.list-group-item.list-group-item-primary= article.body
        hr
    a.btn.btn-info(href='/articles/edit/'+article._id) Edit
    a.btn.btn-danger.delete-article(href='#', data-id=article._id ) Delete