<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="site">
        <div class="ui massive menu">
            <div class="ui container">
                <div class="item">Home</div>
                <div class="item">About</div>
                <div class="item">Contact</div>
                <div class="item">Blog</div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="ui container">
            <table class="ui table green">
                <thead>
                    <tr>
                        <th>Club Name</th>
                        <th>Players</th>
                        <th>Coach</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bayern Munich</td>
                        <td>Lawendoski, Coutinho</td>
                        <td>Niko Kovač</td>
                    </tr>
                    <tr>
                        <td>PSG</td>
                        <td>Neymar, Mbappe</td>
                        <td>Thomas Tuchel</td>
                    </tr>
                    <tr>
                        <td>FC Barcelona</td>
                        <td>Messi, Suarez</td>
                        <td>Ernesto Valverde</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>